# Compiled and generated things.
build
*.pyc
__pycache__
*.mo
docs/html
*.log
resources/i18n/en_US
resources/i18n/en_7S
resources/i18n/x-test
resources/firmware
resources/materials
CuraEngine.exe
LC_MESSAGES
.cache
*.qmlc
.mypy_cache
.pytest_cache

#MacOS
.DS_Store

# Editors and IDEs.
*kdev*
*.kate-swp
*.lprof
*~
*.qm
.directory
.idea
cura.desktop

# Eclipse+PyDev
.project
.pydevproject
.settings

#Externally located plug-ins.
plugins/cura-big-flame-graph
plugins/cura-god-mode-plugin
plugins/cura-siemensnx-plugin
plugins/CuraBlenderPlugin
plugins/CuraCloudPlugin
plugins/CuraDrivePlugin
plugins/CuraDrive
plugins/CuraLiveScriptingPlugin
plugins/CuraOpenSCADPlugin
plugins/CuraPrintProfileCreator
plugins/CuraSolidWorksPlugin
plugins/CuraVariSlicePlugin
plugins/Doodle3D-cura-plugin
plugins/FlatProfileExporter
plugins/GodMode
plugins/OctoPrintPlugin
plugins/ProfileFlattener
plugins/X3GWriter

#Build stuff
CMakeCache.txt
CMakeFiles
CPackSourceConfig.cmake
Testing/
CTestTestfile.cmake
Makefile*
junit-pytest-*
CuraVersion.py
cmake_install.cmake

#Debug
*.gcode
run.sh
.scannerwork/
CuraEngine

# output\lib\uranium\plugins
plugins/ConsoleLogger/
plugins/FileHandlers/
plugins/FileLogger/
plugins/LocalContainerProvider/
plugins/LocalFileOutputDevice/
plugins/Tools/
plugins/UpdateChecker/
plugins/Views/

# output\share\cura\resources
# AUTO

# output\share\uranium\resources
resources/bundled_packages/uranium.json
resources/i18n/de_DE/uranium.po
resources/i18n/es_ES/uranium.po
resources/i18n/fi_FI/uranium.po
resources/i18n/fr_FR/uranium.po
resources/i18n/hu_HU/
resources/i18n/it_IT/uranium.po
resources/i18n/ja_JP/uranium.po
resources/i18n/ko_KR/uranium.po
resources/i18n/nl_NL/uranium.po
resources/i18n/pl_PL/uranium.po
resources/i18n/pt_BR/uranium.po
resources/i18n/pt_PT/uranium.po
resources/i18n/ru_RU/uranium.po
resources/i18n/tr_TR/uranium.po
resources/i18n/uranium.pot
resources/i18n/zh_CN/uranium.po
resources/i18n/zh_TW/uranium.po
resources/shaders/color.shader
resources/shaders/composite.shader
resources/shaders/default.shader
resources/shaders/object.shader
resources/shaders/platform.shader
resources/shaders/selection.shader
resources/shaders/toolhandle.shader

backup/
